@page
@model MVD_CRL.Pages.ranks.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Звания</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Звания.КодЗвания" />
            <div class="form-group">
                <label asp-for="Звания.Наименование" class="control-label"></label>
                <input asp-for="Звания.Наименование" class="form-control" />
                <span asp-validation-for="Звания.Наименование" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Звания.Надбавка" class="control-label"></label>
                <input asp-for="Звания.Надбавка" class="form-control" />
                <span asp-validation-for="Звания.Надбавка" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Звания.Обязанности" class="control-label"></label>
                <input asp-for="Звания.Обязанности" class="form-control" />
                <span asp-validation-for="Звания.Обязанности" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Звания.Требования" class="control-label"></label>
                <input asp-for="Звания.Требования" class="form-control" />
                <span asp-validation-for="Звания.Требования" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
