@page
@model MVD_CRL.Pages.staff.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Сотрудники</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Сотрудники.КодСотрудника" />
            <div class="form-group">
                <label asp-for="Сотрудники.Фио" class="control-label"></label>
                <input asp-for="Сотрудники.Фио" class="form-control" />
                <span asp-validation-for="Сотрудники.Фио" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Сотрудники.Возраст" class="control-label"></label>
                <input asp-for="Сотрудники.Возраст" class="form-control" />
                <span asp-validation-for="Сотрудники.Возраст" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Сотрудники.Пол" class="control-label"></label>
                <input asp-for="Сотрудники.Пол" class="form-control" />
                <span asp-validation-for="Сотрудники.Пол" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Сотрудники.Адрес" class="control-label"></label>
                <input asp-for="Сотрудники.Адрес" class="form-control" />
                <span asp-validation-for="Сотрудники.Адрес" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Сотрудники.Телефон" class="control-label"></label>
                <input asp-for="Сотрудники.Телефон" class="form-control" />
                <span asp-validation-for="Сотрудники.Телефон" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Сотрудники.ПаспортныеДанные" class="control-label"></label>
                <input asp-for="Сотрудники.ПаспортныеДанные" class="form-control" />
                <span asp-validation-for="Сотрудники.ПаспортныеДанные" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Сотрудники.КодДолжности" class="control-label"></label>
                <select asp-for="Сотрудники.КодДолжности" class="form-control" asp-items="ViewBag.КодДолжности"></select>
                <span asp-validation-for="Сотрудники.КодДолжности" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Сотрудники.КодЗвания" class="control-label"></label>
                <select asp-for="Сотрудники.КодЗвания" class="form-control" asp-items="ViewBag.КодЗвания"></select>
                <span asp-validation-for="Сотрудники.КодЗвания" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
